 
 
    <div style="width:100%; height:200px;">
        <div style="float: right;">
            <h3>Titre du cours: Programmation</h3><br />
            <p>Description: Ici vous avez la description complete du cours</p>

            <input type="Button" value="ajout au panier" onclick="@("location.href='"+ Url.Action("Check", "Accueil",new {cour="Programmation"})+ "'")" />
            <br />

            <div>
                @TempData["Programmation"]
            </div>
        </div>
        <div>

            <img src="~/Images/Programmation.jpg" style="width:50%; height:200%; "/> 
        </div>
    </div> <br /><br /><hr /><br />
 

